@model ReservaViajes.Models.Pagos.Pago

@{
    ViewData["Title"] = "CrearPago";
}

<h1>CrearPago</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearPago">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="pk_tsal001" class="control-label"></label>
                <input asp-for="pk_tsal001" class="form-control" readonly/>
                <span asp-validation-for="pk_tsal001" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="terminalId" class="control-label"></label>
                <input asp-for="terminalId" class="form-control" readonly />
                <span asp-validation-for="terminalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transactionType" class="control-label"></label>
                <input asp-for="transactionType" class="form-control" readonly />
                <span asp-validation-for="transactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invoice" class="control-label"></label>
                <input asp-for="invoice" class="form-control" readonly />
                <span asp-validation-for="invoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalAmount" class="control-label"></label>
                <input asp-for="totalAmount" class="form-control" readonly />
                <span asp-validation-for="totalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taxAmount" class="control-label"></label>
                <input asp-for="taxAmount" class="form-control" readonly />
                <span asp-validation-for="taxAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipAmount" class="control-label"></label>
                <input asp-for="tipAmount" class="form-control" readonly />
                <span asp-validation-for="tipAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientEmail" class="control-label"></label>
                <input asp-for="clientEmail" class="form-control" readonly />
                <span asp-validation-for="clientEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar Pago" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
