@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h1 class="display-4">Bienvenido al sitio de compra de ticketes de viaje en bus</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Inicie sesión o realice el registro para acceder al menú de opciones.</p>
    }
</section>
