@model ReservaViajes.Models.Usuarios.CambioPassword

@{
    ViewData["Title"] = "CambiarContrasena";
}

<h1>CambiarContrasena</h1>

<h4>CambioPassword</h4>
<hr />
<section class="row">
    <section class="col-md-4">
        <form asp-action="CambiarContrasena" method="post">
            @Html.AntiForgeryToken()
            <section asp-validation-summary="ModelOnly" class="text-danger"></section>
            <input type="hidden" asp-for="idUsuario" />
            <section class="form-group">
                <label asp-for="ContrasenaActual" class="control-label"></label>
                <input asp-for="ContrasenaActual" class="form-control" type="password"/>
                <span asp-validation-for="ContrasenaActual" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="NuevaContrasena" class="control-label"></label>
                <input asp-for="NuevaContrasena" class="form-control" type="password"/>
                <span asp-validation-for="NuevaContrasena" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="ConfirmarContrasena" class="control-label"></label>
                <input asp-for="ConfirmarContrasena" class="form-control" type="password"/>
                <span asp-validation-for="ConfirmarContrasena" class="text-danger"></span>
            </section>
            <section class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </section>
        </form>
    </section>
</section>

<section>
    <a href="@Url.Action("Index", "Home")">Regresar</a>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            var errorMessage = '@ViewData["ErrorMessage"]';
            if (errorMessage) {
                alert(errorMessage);
            }
        });
    </script>
}
